


/*body { background: url(http://subtlepatterns.com/patterns/seamless_paper_texture.png)
}*/

#IconEmail, #IconAddress, #IconPhone, #IconTwitter, #ImageLinkedIn{vertical-align: middle;
	padding: 0.1rem;
	margin-bottom: 2px;
}

.Email a, .Twitter a, .Phone a, .Address a{
	text-decoration: none;
}

/*change to something else*/
a:visited {
        text-decoration: blink;
    }

img {
  max-width:100%;}

footer {
	padding: 1rem;
  bottom: 0;
}

.Front{
  position: absolute;
  top: 0;
  left: 0;
}

.ContainerAddress{
 position: relative;
 top:-40px;
 left:50px;
 width:90%;
}

.Phone{
  margin-top: -20px;
}


/*Media queries for bigger screens*/

@media screen and (min-width: 700px) and (orientation: landscape){
  .FlexContainer{
  display: flex;  
  flex-direction: row;
  justify-content:flex-start;
  margin-bottom: 200px;

}

.Front {
  margin-top: 6px;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  backface-visibility: hidden;
  perspective:1000;
  z-index: 2;
}

.Front:hover{
  transform: rotateY(180deg);
}

.Back {
  width: auto;
  position: relative; 
  z-index: 1;
}

.Data{
  margin-left: 20px;
}

footer {
  clear: both;
  bottom: 0;
}

img {max-width: 100%;}




}













