


/*body { background: url(http://subtlepatterns.com/patterns/seamless_paper_texture.png)
}*/

#IconEmail, #IconAddress, #IconPhone, #IconTwitter, #ImageLinkedIn, #vCardIcon{vertical-align: middle;
	padding: 0.2rem;
	
}

img {max-width: 100%;
}

.Email a, .Twitter a, .Phone a, .Address a, .LinkedIn a, .vCard a{
	text-decoration: none;
}

a:link{
  color: #257F69;
}
a:active {
        color: #007F7E;
    }


footer {
  font-size: 0.75em;
  color:#ccc;
  display: block;
 text-align: center;
 clear: both;
}


.credits li{
  padding: 0.8rem;}

.Front{
  position: absolute;
}

article{
 position: relative;
 top:-40px;
 left:50px;
}

.Phone{
  margin-top: -20px;
}

.LinkedIn, .vCard {
  margin-top: 10px;
}


html, body {
  width: auto;
  overflow-x: hidden; 
}


/**************
Credits
*************/
.Impressum ul
{display: flex;
  flex-direction: row;
  justify-content:flex-end;

}

.Impressum a {
  text-decoration: none;
}

.Impressum li{
  list-style: none;
  margin: 3px;
}

/*Media queries for bigger screens*/


@media screen and (min-width: 1200px) and (orientation:landscape) {

.Business-Card{
  perspective: 1000;
  padding: 25px;
  float: left;
  width: 45%;
}

.Business-Card:hover .Front {
  -webkit-transform: rotateY(180deg); 
}

.Business-Card:hover .Back {
  -webkit-transform: rotateY(0deg);
}


.Front, .Back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Front {
  z-index: 2;
  -webkit-transition: ease 1.5s;
  -o-transition: ease 1.5s;
  transition: ease 1.5s;
  transform-style: preserve-3d;
}

.Back {
  -webkit-transform: rotateY(-180deg);
  -webkit-transition: ease 1.5s;
  -o-transition: ease 1.5s;
  transition: ease 1.5s;
  transform-style: preserve-3d;
  z-index: 1;
}

.Data{
  float:right;
  width: 50%;
  margin-right: 20px;
}



a:link{
  color: #257F69;
}
a:active {
        color: #007F7E;
    }

footer{
  position: absolute;
  bottom: 0;
}

.Impressum ul{
  clear: right;
  

}



}













